body{
	background: green;
}
h1{
	color: white;
}
#contenedor{
	border: 1px solid gray;
	padding: 5%;
	width: 80%;
	margin: 0 auto;
}
img{
	width: 100%;
	border: 1px solid gray;
	padding: 5px;
	background-color: white;
}
p{
	color: white;
	font-size: 20px;
	font-style: italic;
}